* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

  --BlueDeep: #000859;
  --BlueMedium: #1e2a8a;
  --BlueLight: #3f5ef5;
  --Orange: #fd4300;
  --WhiteSoft: #f7f7ff;
  --Black: #000000;
  --DarkGray: #1a1a1a;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol {
  list-style: none;
  line-height: 2.5em;
}

svg {
  margin-right: 10px;
  color: var(--BlueMedium);
}

input {
  width: 80%;
  height: 40px;
  border: 2px solid var(--BlueLight);
  margin: 10px 0px;
  padding: 5px;
  background-color: var(--DarkGray);
}

textarea {
  width: 80%;
  height: 125px;
  border: 2px solid var(--BlueLight);
  margin: 10px 0px;
  padding: 5px;
  background-color: var(--DarkGray);
}

button {
  border: 2px solid var(--BlueLight);
  padding: 2px 5px;
  background-color: var(--DarkGray);
  color: var(--BlueLight);
  height: 50px;
  width: 40%;
}

#header {
  position: fixed;
  width: 100vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.158);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#list-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  background-color: var(--BlueDeep);
  padding: 10px 50px;
}

#list-nav > li,
a {
  color: var(--WhiteSoft);
  text-decoration: none;
}

#list-nav a {
  padding: 2px 15px;
}

#list-nav a:hover {
  padding: 2px 15px;
  background-color: var(--BlueLight);
  border-radius: 25px;
  transition: 0.3s;
}

#home {
  background-color: var(--BlueDeep);
  min-height: 100vh;
  padding: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#home-aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  min-height: 70vh;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.377);
  border-radius: 15px;
  background-color: var(--DarkGray);
}

#home-aside > img {
  width: 50vw;
  height: auto;
}

#home-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: var(--DarkGray);
  width: 100vw;
  min-height: 80vh;
}

#home-main > article {
  width: 65%;
  text-align: center;
  line-height: 1.5;
}

#home-main > article > h1 {
  margin-top: 50px;
  color: var(--WhiteSoft);
  font-size: 2.5em;
}

#home-main > article > p {
  color: var(--WhiteSoft);
}

#service {
  background-color: var(--DarkGray);
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#service-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: var(--WhiteSoft);
  padding: 25px;
  width: 50vw;
  text-align: center;
}

#service-content h2 {
  font-size: 1.5em;
  text-align: center;
}

#service-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px 50px;
  width: 80vw;
}

.card {
  background: var(--DarkGray);
  color: var(--WhiteSoft);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--WhiteSoft);
  margin: 15px 0px;
  min-height: 150px;
  max-width: 250px;
}

.card:hover {
  background-color: var(--BlueMedium);
  color: var(--Black);
  border: 1px solid var(--BlueMedium);
  transition: 0.2s;
}

.title-card {
  font-size: 1.2em;
}

#contato {
  background-color: var(--BlueDeep);
  padding: 25px 0px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#contatos {
  width: 70vw;
  height: 70vh;
  border: 1px solid var(--DarkGray);
  background-color: var(--DarkGray);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#contatos h3 {
  margin-bottom: 50px;
  color: var(--WhiteSoft);
}

#contato li {
  color: var(--WhiteSoft);
  text-align: start;
  margin: 10px 0px;
}

#contato p a {
  color: var(--WhiteSoft);
  margin-left: 40px;
}

#contato-form {
  width: 70vw;
  height: 70vh;
  border: 1px solid var(--DarkGray);
  background-color: var(--DarkGray);
  padding: 15px;
}

#contato-form form {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  border: 2px solid var(--BlueMedium);
  background-color: var(--BlueMedium);
  color: var(--WhiteSoft);
  transition: 0.3s;
}

footer {
  background-color: var(--BlueDeep);
  padding: 15px 0px;
  text-align: center;
  color: var(--WhiteSoft);
}

@media screen and (min-width: 1200px) {
  #home {
    flex-flow: row nowrap;
  }

  #home-aside {
    width: 30vw;
    margin: 0px 25px;
  }

  #home-aside > img {
    width: 25vw;
  }

  #home-main {
    align-items: start;
    width: 70vw;
  }

  #home-main > article {
    width: 65%;
    text-align: start;
    line-height: 1.5;
    font-size: 1.2em;
    padding: 0px 35% 0px 5%;
  }

  #home-main > article > h1 {
    font-size: 3.5em;
  }

  #service {
    flex-flow: row nowrap;
  }

  #service-content {
    width: 50vw;
  }

  #service-cards {
    width: 50vw;
  }

  #contato {
    flex-flow: row nowrap;
  }

  #contatos {
    width: 30vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  #contato-form {
    width: 60vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

@media screen and (max-width: 500px) {
  #home-main > article > h1 {
    font-size: 2em;
  }

  #service-cards {
    grid-template-columns: 1fr;
    width: 90vw;
  }

  #contatos {
    text-align: center;
    align-items: center;
  }

  #contatos h3 {
    text-align: center;
    width: 100%;
  }

  #contato li {
    text-align: center;
    width: 100%;
  }

  #contato p a {
    margin-left: 0;
    display: inline-block;
    text-align: center;
  }
}
